.idea/
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

src/themes/ibaser/node_modules
src/themes/twentyseventeen/node_modules

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

docker/db/*
docker/uploads/*