.header__main-video {
  margin: 0 -20% !important;
  padding-left: 100%;
  padding-right: 40%;
  padding-bottom: 0px;
  padding-top: 38%;
}

.header__main-video > .nk-awb-inner > iframe {
  opacity: 0.8;
}


.header__main-video > h2 {
  width: 100%;
  color: #fff;
}


.header__main-video_title {
  top: 40%;
  float: right;
  color: white;
  font-size: 16px;
  bottom: 0px;
}

.header__main-video_spacer {
  min-height: 100%
}

#masthead {
  position: fixed;
}