$media-sm: 540px;
$media-lg: 768px;
$media-lg-xl: 1025px;
$media-ex-lg: 1140px;

$primary-color: #00001E;
$secondary-color: #7cc3ff;

$main-background: #FFF;

$primary-font: 'PT Serif', serif;
$secondary-font: 'Montserrat', sans-serif;

html,
body,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

body {
  height: 100%;
  color: $primary-color;
  font: 16px $primary-font, serif;
  background-color: $main-background;
}

a {
  color: $primary-color;
  text-decoration: none;
}

main,
.main {
  display: block;
}

/* Main */
.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;

  &__contacts {
    padding-top: 10px;
  }

  &__phone a {
    color: #fff;
    font-size: 14px;

    &:last-child {
      margin-top: 10px;
    }
  }
}

/*--------------------------------------------------------------------------------------------------*/
.main-menu > li > a {
  color: #fff !important;
}

.main-menu > li.menu-item-has-children .submenu-expand svg {
  fill: #fff !important;
}

.main-navigation .sub-menu {
  @media only screen and (min-width: $media-lg) {
    background-color: transparent;
  }
  background-color: gray;
}

/*.main-navigation .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

.header-position {
  @media only screen and (min-width: $media-lg) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.custom-logo-link {
  img {
    display: none;
  }
}

.custom-logo-link {
  display: block;
  background: url('./img/logotype-white.png') no-repeat;
  background-size: contain;
  width: 200px !important;
  height: 100% !important;
  min-height: 100px;
}

.site-header {
  @media only screen and (min-width: $media-lg) {
    margin: 0;
    padding: 0;
  }
}

.site-branding-container {
  width: 80%;
}

.site-branding .site-title,
.site-branding .site-description {
  display: none;
}

/*
.main-menu-more-toggle {
  @media only screen and (min-width: $media-lg) {
    display: none !important;
  }
}*/

/*.sub-menu.hidden-links {
  @media only screen and (min-width: $media-lg) {
    position: inherit;
    left: 0;
    display: flex;
    opacity: 1;
  }
}*/
/*-------------------------------------------------------------------------------------------------*/

.full-video {
  margin-top: -70px !important;
  position: relative;
  border-bottom: 3px solid #7cc3ff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}